# Node artifacts
Frontend/node_modules/
Frontend/build/

# Python virtual environments
.venv/
Backend/.venv/

# Django artifacts
Backend/db.sqlite3
Backend/staticfiles/
__pycache__/
*.py[cod]
*.sqlite3

# Environment variables
.env
Backend/.env
